astroid==2.3.0
backcall==0.2.0
botocore==1.23.48
click==8.0.3
decorator==5.1.1
Django==2.0.2
docutils==0.14
Flask==2.0.2
Flask-WTF==1.0.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
pylint-django==2.3.0
pylint-flask==0.6
pylint-plugin-utils==0.7
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.8.2
simplejson==3.2.0
six==1.16.0
traitlets==5.1.1
typed-ast==1.5.2
typing-extensions==4.0.1
urllib3==1.26.8
virtualenv==16.2.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.5
Werkzeug==2.0.3
wrapt==1.13.3
WTForms==3.0.1
